@media screen and (max-width:375px) {

    .line,
    .phone,
    .resp-lang,
    .second-menu,
    .headphones {
        display: none;
    }

    .header {
        width: 375px;
        height: 76px;
        left: 0;
        transform: translate(0);
    }

    .logo {
        background-image: url(./img/Logo.png);
        min-width: 63px;
        height: 36px;
        background-size: cover;
        margin-top: 14px;
        margin-left: 60px;
    }

    .toggle-button {
        display: flex;
        left: 87%;
        top: 55%;
        transform: translatey(-50%);
    }


    .icons {
        display: flex;
        position: absolute;
        right: 17%;
        top: 40%;
    }


    .navbar {
        width: 440px;
        height: 0px;
        overflow: hidden;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 76px;
        right: -6%;
        transition: 1s;
        margin-left: -55px;
    }

    .navbar li {
        padding: 10px 10px;
        margin-right: 0;
    }

    .navbar.active {
        height: 200px;
        transform: translate(3px);
    }

    .navbar.active::before {
        transform: translateY(0px) rotate(50deg);
    }


    .second-menu {
        display: none;
    }

    .menu_holder {
        width: 375px;
        height: 250px;
        background-image: url("./img/bachground3.png");
        background-size: cover;
    }

    .credit {
        font-size: 112.5%;
    }

    .border_div {
        width: 51px;
    }

    .contact-container{
        width: 363px;
        display: flex;
        flex-direction: column;
    }
    .contact-icon3{
        width: 331px;
    }
    .inputResp,
    .textareaResp{
        width: 343px;
        display: block;
    }
    .map-karta-contact{
        display: none;
    }
    .contact-leftResp{
        display: block;
    }
    .contact-left {
        display: flex;
        margin-top: 48px;
    }
    .formResp{
        display: block;
    }
    .input-group-button {
        display: flex;
        flex-direction: column;
    }
    .input-group-button button {
        width: 94px;
        height: 40px;
    }
    .text-group {
        margin-top: 12px;
        margin-left: 1px;
    }
    .map-karta-contactResp375{
        display: block;
    }
    .map-logo-text p {
        font-size: 125%;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        margin-left: 15%;

    }
    .info-contact {
        width: 10%;
    }
    .gray-contact{
        width: 250px;
    }
    .Address2{
        width: 200px;
    }
    .line-hr{
        width: 343px;
        border: 1px solid #D8D7D9;
    }
    .main-resp{
        margin-left: -40px;
    }
 
    .footer{
        margin-top: 24px;
        height: 402px;
    }
    .footer-items {
        display: none;
    }

    .resp-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
        margin-top: 15px;
    }
 
    .resp-hr{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .resp-menu ul li {
        text-decoration: none;
        list-style-type: none;
        display: inline;
        font-size: 87.5%;  
        padding: 6px;
    }

    .resp-menu ul li {
        color: var(--redColor);
        line-height: 15px;
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 402px;
        width: 267px;
        margin-top: -19px;
    }

    .info p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resp-footer-line {
        color: rgb(245, 238, 238);
        width: 295px;
    }

    .copy {
        width: 276px;
        margin-top: 24px;
    }

    .copy1 {
        width: 350px;
    }

   

    .footer-img {
        display: block;
        position: absolute;
        left: 45%;
        margin-top: 130px;
    }
}